<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song List</title>
    <link href="song.css" rel="stylesheet">
</head>
<body>
<h1>Song List</h1>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Length</th>
        <th>Track Number</th>
        <th>Album</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Title 1</td>
        <td>180 seconds</td>
        <td>1</td>
        <td>Album A</td>
    </tr>
    <tr>
        <td>Title 2</td>
        <td>240 seconds</td>
        <td>2</td>
        <td>Album B</td>
    </tr>

    </tbody>
</table>
</body>
</html>
